# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

tiklivepro.me, www.tiklivepro.me {
    reverse_proxy localhost:3010
}

api.tiklivepro.me {
    reverse_proxy localhost:3000
}

hls.tiklivepro.me {
    reverse_proxy localhost:8888
    header {
        Access-Control-Allow-Origin  "*"
        Access-Control-Allow-Methods "GET, HEAD, OPTIONS"
        Access-Control-Allow-Headers "Range"
    }
}
